@font-face {
    font-family: 'Roboto_Slab';
    src: url('../business-card/Roboto_Slab/static');
    font-style: normal;
}



body{
   margin: 0;
    background: url('/imge/nature-3082832.jpg') no-repeat center center / cover;
    height: 100vh;
    padding: 30px 0 30px;
}

.wrepper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    width: 100%;
    
}

.fon{
    width: 590px;
    height: 300px;

}

header{
    text-align: center;
    /* width: 1350px; */
    height: 240px;
    margin: 0;
}

header h1{
    font-family: 'Roboto_Slab';
    font-size: 4.35em;
    font-weight: 200;
    letter-spacing: -0.035em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    border: 0;
    color: #fff;
}

header p{
    font-family: 'Roboto_Slab';
    font-weight: 500;
    font-size: 1.80em;
    margin: 0.75em 0 0.25em 0;
    opacity: 0.85;
    color: #fff;
}

nav{
    width: 500px;
    height: 200px;

}

a{
    width: 50px;
    height: 50px;
}

li{
    border: 2px solid black;
    border-radius: 100%;
    padding: 15px;
    background: #fff;
    opacity: 0.50;
}

ul, li{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    
}

.insta{
    background: url('./imge/instagram.svg') no-repeat center center / contain;
    
}

.telega{
    background: url('./imge/telegram.svg') no-repeat center center / contain;
}

.git{
    background: url('./imge/github.svg') no-repeat center center / contain;
}

.vk{
    background: url('./imge/vk.svg') no-repeat center center / contain;
}

.gmail{
    background: url('./imge/email.svg') no-repeat center center / contain;
}

footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    margin-top: 100px;
}


